* {margin: 0;padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
img {display: block;}
/*---------------animation ----------------------------- */

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 120px;
  }
}
@keyframes txtnone {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*------------- cart--------------------------------------*/
#cart {display: none;}
#cart:checked ~ .cartSheet {
  right: 0;
}
#cart ~ .cartSheet {
  right: -200px;
}
.cartSheet {
  position: fixed;
  top: 300px;
  overflow: hidden;
  transition: all 0.2s;
}
.cartBtn {
  float: left;
}
.sheet {
  float: left;
  width: 200px;
  height: 500px;
  background-color: #ccc;
}

/*--------------header--------------------------------------*/
.gnbBox {
  width: 1070px;
  margin: 0 auto;
}
.gnbBox .gnb {
  overflow: hidden;
}
.gnbBox .gnb ul {
  float: right;
}
.gnbBox .gnb ul li{
  display: inline-block;
  color: #666;
  padding: 10px;
  font-size: 11px;
}

.logoBox {
  width: 1070px;
  margin: 0px auto;
  overflow: hidden;
}
.logoBox .aniLogo {
  float: left;
  position: relative;
  width: 220px;
  height: 80px;
}
.logoBox .aniLogo figure{
  float: left;
  width: 70px;
  height: 55px;
}
.logoBox .aniLogo figure img {
  position: absolute;
  animation: move 4s infinite;
}

.logoBox .aniLogo .carTxt{
  position: absolute;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  animation: txtnone 4s infinite;
  right: 0;
}
.logoBox .aniLogo .carTxt strong {
  color: rgb(123, 149, 058);
}
.logoBox .logo {
  width: 180px;
  height: 60px;
  float: left;
  margin: 0 180px
}
.logoBox .logo img {
  width: 100%;
}
.logoBox .search {
  border: 1px solid #666;
  width: 280px;
  float: right;
  padding: 5px;
  color: #666;
  margin-top: 20px;
  font-size: 11px;
}
.logoBox .search div {
  float: left;
}
.logoBox .search i {
  float: right;
}

.lnbOuterBox {
  width: 100%;
  height: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.lnbOuterBox .lnbInnerBox {
  width: 1070px;
  margin: 0 auto;
}
.lnbInnerBox .category {
  float: left;
  font-size: 18px;
  line-height: 50px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  position: relative;
}
.lnbInnerBox .category label {
  color: blue;
  padding: 10px;
}
.lnbInnerBox .category label i{
  padding: 0 10px
}
.lnbInnerBox .category .categorySheet{
  width: 1070px;
  position: absolute;
  background-color: #fff;
  display: none;
}
.lnbInnerBox .category .categorySheet ul {}
.lnbInnerBox .category .categorySheet ul li{
  text-align: center;
}
.lnbInnerBox .category .categorySheet ul li:hover {
  font-weight: bold;
  color: #f00;
}
#categoryBtn {
  display: none;
}
#categoryBtn:checked ~ .categorySheet {
  display: block;
}
.lnbInnerBox .lnb {
  float: left;
  margin: 0px 80px;
}
.lnbInnerBox .lnb ul{}
.lnbInnerBox .lnb ul li{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  padding: 0 10px;
  line-height: 50px;
}

.lnbInnerBox .life {
  float: right;
}
.lnbInnerBox .life ul{

}
.lnbInnerBox .life ul li{
  float: left;
  font-size: 11px;
  color: #666;
  line-height: 50px;
}
.lnbInnerBox .life ul li a{
  padding: 0 8px;
  border-right: 1px solid #666;
}
.lnbInnerBox .life ul li:last-child a {
  border: none;
}


.rootBox {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
}
.root ul li {
  display: inline-block;
  font-size: 11px;
  color: #ccc;

}
.root ul li::after {
  content: ">";
  margin-left: 10px;
}

.rootBtn a{
  display: block;
  background: #009edb;
  color: #fff;
  font-size: 11px;
  width: 80px;
  padding: 5px 20px;
  margin: 10px 0;
}
.productTap .tap_left {
  float: left;
}
.productTap .tap_right {
  float: right;
}
.productTap ul li {
  font-size: 11px;
  display: inline-block;
  padding: 0 5px;
  color: #ccc;
  position: relative;
}
.productTap ul li::after {
  content: "";
  width: 1px;
  height: 11px;
  background-color: #ccc;
  display: block;
  position: absolute;
  top: 2px;
  left: -4px;
}
.productTap ul li:first-child::after {
  display: none;
}

#productTapBtn1,
#productTapBtn2 {
  display: none;
}


.recommend {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}
.recommend h2 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0 20px 0;
}
.pro {
  width: 257px;
  height: 390px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: all 0.2s;
}
.pro:hover {
  border: 1px solid #000;
}
.pro:hover figure img {
  transform: scale(1.1);
}
.pro .product04 {
  margin: 0;
}
.pro figure {
  overflow: hidden;
}
.pro figure img {
  width: 100%;
  transition: all 0.2s;
}
.pro .productTxt {
  padding: 20px 5px;
  line-height: 1.6;
}
.pro p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  color: #666;
}
.pro strong {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 100px;
}
.pro .colorfont {
  color: rgb(000, 156, 217);
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.pro .sale {
  text-decoration: line-through;
  color: #ccc;
}








.footerNav {
  background-color: #333;
  color: #fff;
  
}

.footerNavContainer {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}
.footerNavContainer .FooterNavLeft {

  float: left;
}
.footerNavContainer .FooterNavLeft ul li {
  float: left;
  padding-right: 20px;
  font-size: 11px;
  line-height: 50px;
}
.footerNavContainer .FooterNavRight {
  float: right;
}
.footerNavContainer .FooterNavRight ul li {
  float: left;
  padding: 0 50px;
  line-height: 50px;
}
.footer {
  background: rgb(077, 077, 077);
  overflow: hidden;
}
.footerContainer {
  width: 1070px;
  margin: 20px auto;
  overflow: hidden;
  border-bottom:  1px solid #ccc;
}

.footerLeft {
  float: left;
  width: 300px;
  height: 150px;
}
.footerLeft ul{
  float: left;
  font-size: 11px;
}
.footerLeft ul li {
  padding: 5px 0;
  margin: 0 30px 0 0;
}
.footerCenter {
  float: left;
  width: 400px;
  height: 150px;
  padding-top: 45px;
}
.footerCenter ul{
  float: left;
  font-size: 11px;
}
.footerCenter ul li {
  padding: 5px 0;
  margin: 0 30px 0 0;
}
.footerRight {
  float: left;
  width: 370px;
  height: 150px;
  padding-top: 40px;
}
.FLeft {
  color: #ccc;
}
.FRight {
  color: #fff;
}

.footerRight p {
  font-size: 11px;
  color: #fff;
  line-height: 2.3;
}
.footerBottom {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}
.F_B_Left {
  float: left;
}
.F_B_Left div {
  float: left;
  width: 200px;
  margin: 0 10px;
}
.F_B_Left div img {
  float: left;
}
.F_B_Left p {
  font-size: 11px;
  color: #ccc;
  
}
.F_B_Right {
  float: right;
}

.F_B_Right ul {}
.F_B_Right ul li{
  float: left;
  color: #ccc;
  font-size: 24px;
  margin: 0 1s0px;
}